{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.scss", "*.*.scss", "*.css", "*.*.css", "*.mjs", "*.cjs"],
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "trailingComma": "es5",
        "tabWidth": 2
      }
    }
  ],
  "plugins": ["./node_modules/@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^next(.*)$",
    "^@/server/(.*)$",
    "^@/routing/(.*)",
    "^@/types/(.*)$",
    "^@/context/(.*)$",
    "^@/stores/(.*)$",
    "^@/classes/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/atoms/(.*)$",
    "^@/components/molecules/(.*)$",
    "^@/components/organisms/(.*)$",
    "^@/components/templates/(.*)$",
    "^@/components/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/containers/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/common/(.*)$",
    "^@/scss/(.*)$",
    "^(../)",
    "^(./)(?!styles.module)",
    ".scss$",
    ".css$",
    "./*.module.scss"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
