@import "@/scss/mixins";
@import "@/scss/breakpoints";

.issueWrapper {
  gap: 0;

  h1,
  svg {
    // color: $textPrimary;
  }

  svg {
    width: 15rem;
    height: 15rem;
    // margin-bottom: $marginUnit;

    @include animate(rotate-360, 1s, 0s);
  }

  > a {
    // margin-top: $tapUnit;
  }

  > div {
    flex: 1;
    overflow: auto;

    .message {
      b {
        // color: $primaryFront;
        font-weight: bold;
      }
    }
  }
}
